* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(46, 10, 80);
  background: linear-gradient(
    90deg,
    rgba(46, 10, 80, 1) 27%,
    rgba(8, 34, 70, 1) 76%
  );
  min-height: 100vh;
}

@media screen and (max-width: 500px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .portfolio {
    font-family: "Poppins";
    font-size: 1.5rem;
    margin-left: 7px;
  }
  .hamburger {
    font-size: 1.4rem;
    margin-right: 15px;
  }
  .menu {
    display: none;
  }

  .photo {
    height: 250px;
    width: 250px;
    background: linear-gradient(#6439ff, #4f75ff, #00ccdd);
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 85px;
    margin-bottom: 80px;
  }

  .photo span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#6439ff, #4f75ff, #00ccdd);
  }
  .photo span:nth-child(1) {
    filter: blur(1px);
  }
  .photo span:nth-child(2) {
    filter: blur(1px);
  }
  .photo span:nth-child(3) {
    filter: blur(1px);
  }
  .photo span:nth-child(4) {
    filter: blur(1px);
  }

  .photo-content {
    height: 240px;
    width: 240px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;

    overflow: hidden;
  }
  .intro {
    padding: 0px 10px;
  }

  .greet {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Quicksand";
    margin-bottom: 10px;
    animation-name: greet;
    animation-duration: 1s;
    transition-timing-function: ease-out;
  }
  @keyframes greet {
    from {
      margin-left: -50%;
    }
    to {
      margin-left: 0%;
    }
  }
  .name {
    font-size: 3.3rem;
    font-family: "Lexend";
    font-weight: 700;
    color: deepskyblue;
    animation-name: name;
    animation-duration: 1s;
    transition-timing-function: ease-out;
  }
  @keyframes name {
    from {
      margin-left: 50%;
    }
    to {
      margin-left: 0%;
    }
  }
  .post {
    font-size: 1.8rem;
    font-family: "Figtree";
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    animation-name: post;
    animation-duration: 1s;
    transition-timing-function: ease-out;
  }
  @keyframes post {
    from {
      margin-left: -50%;
    }
    to {
      margin-left: 0%;
    }
  }
  .web-developer {
    color: mediumpurple;
    font-size: 1.8rem;
    font-family: "Figtree";
    font-weight: 500;
    animation-name: web-developer;
    animation-duration: 1.5s;
    transition-timing-function: ease-out;
  }
  @keyframes web-developer {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  .summary {
    font-size: 0.9rem;
    font-family: "Poppins";
    color: #c1dff0;
    animation-name: summary;
    animation-duration: 1.5s;
    transition-timing-function: ease-out;
    width: 370px;
    height: 150px;
  }
  @keyframes summary {
    from {
      margin-left: -10%;
    }
    to {
      margin-left: 0%;
    }
  }

  .social a {
    margin-top: 30px;
    color: ghostwhite;
    font-size: 35px;
  }
  .social {
    display: flex;
    gap: 20px;
  }
}

@media only screen and (min-width: 500px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .portfolio {
    font-family: "Poppins";
    font-size: 2rem;
    margin-left: 7px;
  }
  .hamburger {
    display: none;
  }

  .menu ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 7px;
    font-size: 1.5rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .photo {
    height: 260px;
    width: 260px;
    background: linear-gradient(#6439ff, #4f75ff, #00ccdd);
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 485px;
    margin-bottom: 80px;
  }

  .photo span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#5b30f7, #365287, #23dbec);
  }
  .photo span:nth-child(1) {
    filter: blur(5px);
  }
  .photo span:nth-child(2) {
    filter: blur(5px);
  }
  .photo span:nth-child(3) {
    filter: blur(5px);
  }
  .photo span:nth-child(4) {
    filter: blur(5px);
  }

  .photo-content {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;

    overflow: hidden;
  }
  .intro {
    padding: 0px 10px;
  }

  .greet {
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Quicksand";
    margin-bottom: 10px;
    animation-name: greet;
    animation-duration: 1s;
    transition-timing-function: ease-out;
    position: relative;
    top: -250px;
  }
  @keyframes greet {
    from {
      margin-left: -50%;
    }
    to {
      margin-left: 0%;
    }
  }
  .name {
    font-size: 3.3rem;
    font-family: "Lexend";
    font-weight: 700;
    color: deepskyblue;
    animation-name: name;
    animation-duration: 1s;
    transition-timing-function: ease-out;
    position: relative;
    top: -250px;
  }
  @keyframes name {
    from {
      margin-left: 50%;
    }
    to {
      margin-left: 0%;
    }
  }
  .post {
    font-size: 1.8rem;
    font-family: "Figtree";
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    animation-name: post;
    animation-duration: 1s;
    transition-timing-function: ease-out;
    position: relative;
    top: -250px;
  }
  @keyframes post {
    from {
      margin-left: -50%;
    }
    to {
      margin-left: 0%;
    }
  }
  .web-developer {
    color: mediumpurple;
    font-size: 1.8rem;
    font-family: "Figtree";
    font-weight: 500;
    animation-name: web-developer;
    animation-duration: 1.5s;
    transition-timing-function: ease-out;
    position: relative;
    top: 40px;
    left: -125px;
  }
  @keyframes web-developer {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  .summary {
    font-size: 1.2rem;
    font-family: "Poppins";
    color: #c1dff0;
    animation-name: summary;
    animation-duration: 1.5s;
    transition-timing-function: ease-out;
    width: 540px;
    height: 150px;
    position: relative;
    top: -180px;
  }
  @keyframes summary {
    from {
      margin-left: -10%;
    }
    to {
      margin-left: 0%;
    }
  }

  .social a {
    margin-top: 30px;
    color: ghostwhite;
    font-size: 50px;
    position: relative;
    top: -150px;
  }
  .social {
    display: flex;
    gap: 20px;
  }
}
only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .portfolio {
    font-family: "Poppins";
    font-size: 2rem;
    margin-left: 27px;
  }

  .hamburger {
    display: none;
  }

  .menu ul {
    display: none;
    list-style-type: ;
    gap: 30px;
    margin-right: 7px;
    font-size: 1.5rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .photo {
    height: 260px;
    width: 260px;
    background: linear-gradient(#6439ff, #4f75ff, #00ccdd);
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 485px;
    margin-bottom: 80px;
  }

  .photo span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#5b30f7, #365287, #23dbec);
  }
  .photo span:nth-child(1) {
    filter: blur(5px);
  }
  .photo span:nth-child(2) {
    filter: blur(5px);
  }
  .photo span:nth-child(3) {
    filter: blur(5px);
  }
  .photo span:nth-child(4) {
    filter: blur(5px);
  }

  .photo-content {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;

    overflow: hidden;
  }
  .intro {
    padding: 0px 10px;
  }

  .greet {
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Quicksand";
    margin-bottom: 10px;
    animation-name: greet;
    animation-duration: 1s;
    transition-timing-function: ease-out;
    position: relative;
    top: -250px;
  }
  @keyframes greet {
    from {
      margin-left: -50%;
    }
    to {
      margin-left: 0%;
    }
  }
  .name {
    font-size: 3.3rem;
    font-family: "Lexend";
    font-weight: 700;
    color: deepskyblue;
    animation-name: name;
    animation-duration: 1s;
    transition-timing-function: ease-out;
    position: relative;
    top: -250px;
  }
  @keyframes name {
    from {
      margin-left: 50%;
    }
    to {
      margin-left: 0%;
    }
  }
  .post {
    font-size: 1.8rem;
    font-family: "Figtree";
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    animation-name: post;
    animation-duration: 1s;
    transition-timing-function: ease-out;
    position: relative;
    top: -250px;
  }
  @keyframes post {
    from {
      margin-left: -50%;
    }
    to {
      margin-left: 0%;
    }
  }
  .web-developer {
    color: mediumpurple;
    font-size: 1.8rem;
    font-family: "Figtree";
    font-weight: 500;
    animation-name: web-developer;
    animation-duration: 1.5s;
    transition-timing-function: ease-out;
    position: relative;
    top: 40px;
    left: -125px;
  }
  @keyframes web-developer {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  .summary {
    font-size: 1.2rem;
    font-family: "Poppins";
    color: #c1dff0;
    animation-name: summary;
    animation-duration: 1.5s;
    transition-timing-function: ease-out;
    width: 540px;
    height: 150px;
    position: relative;
    top: -180px;
  }
  @keyframes summary {
    from {
      margin-left: -10%;
    }
    to {
      margin-left: 0%;
    }
  }

  .social a {
    margin-top: 30px;
    color: ghostwhite;
    font-size: 50px;
    position: relative;
    top: -150px;
  }
  .social {
    display: flex;
    gap: 20px;
  }
}
