
* {margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 body {
   background: rgb(46, 10, 80);
   background: linear-gradient(90deg, rgba(46, 10, 80, 1) 27%, rgba(8, 34, 70, 1) 76%);
   min-height: 100vh;
 }


 nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
 }

 .portfolio {
   font-family: "Poppins";
   font-size: 1.5rem;
   margin-left: 7px
 }

 .hamburger {
   font-size: 1.5rem;
   margin-right: 10px
 }
 
 .offscreen-menu {position: fixed;
 top: 0;
 right: 0;
 height: 100vh;
 width: 250px;
 background-color: #031C29;
 display: none;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 
 font-size: 1.5rem;
 
   
 }
 .offscreen-menu ul {list-style-type: none;
   width: 100%;
  
 }
 .offscreen-menu li {
   height: 50px;
   width: 100%;
   padding-left: 10px;
   padding-top: 10px
 }
 .offscreen-menu a {
   height: 100%;
   text-decoration:none;
   color: white;
   width: 100%;
   
 }
 .offscreen-menu li:hover {
   background-color: black;
 }
 .cross {align-self: flex-end;
   font-size: 2.5rem;
   margin-right: 20px;
   margin-top: 20px;
   margin-bottom: 10px;
   color: white;
 }
 .note{
   background-color: red;
   
 }
 .note span {
   position: fixed;
   left: 400px;
   text-align: center;
   background-color: red;
   height :20px;
   display: block;
   overflow: hidden;
   width: 560px;
   margin: 0;
   
 }
 .one{
   animation-name: one;
   animation-duration: 16s;
   animation-delay: 10s;
   animation-iteration-count: infinite;
   transition-timing-function: linear
   
 }
 @keyframes one{
   from{margin-left: 400px;}
   to{margin-left: -800px;}
 }
.two{
   animation-name: two;
   animation-duration: 16s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
   transition-timing-function: linear
   
 }
 @keyframes two{
   from{margin-left: 300px;}
   to{margin-left: -800px;}
 }
  .three{
   animation-name: three;
   animation-duration: 16s;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   transition-timing-function: linear;
   
 }
 @keyframes three{
   from{margin-left: 200px;}
   to{margin-left: -800px;}
 }
 /*
  .four{
   animation-name: four;
   animation-duration: 3s;
   animation-delay: 9s;
   animation-iteration-count: infinite;
   
 }
 @keyframes four{
   from{margin-left: 0%;}
   to{margin-left: 100%;}
 }
 */
 
 
 .photo { height:220px;
   width: 220px;background: linear-gradient(#6439FF, #4F75FF, #00CCDD);
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: 85px;
 margin-bottom: 80px;
  
 }
 
 .photo span {
   position: absolute;
width: 100%;
height: 100%;
border-radius: 50%;
background: linear-gradient(#6439FF, #4F75FF, #00CCDD);
 }
 .photo span:nth-child(1){
   filter: blur(1px);
 }
  .photo span:nth-child(2) {
    filter: blur(1px);
  }
   .photo span:nth-child(3) {
     filter: blur(1px);
   }
    .photo span:nth-child(4) {
      filter: blur(1px);
    }

 
 .photo-content {height: 210px;
   width: 210px;
   position: absolute;
   top: 5px;
   left: 5px;
   background-color: transparent;
   border-radius: 50%;
   
   overflow: hidden;
 }
 .intro {
   padding: 0px 10px;
 }
 
 .greet {color: white;
   font-size: 1.5rem;
   font-weight: 500;
   font-family: "Quicksand";
   margin-bottom: 10px;
   animation-name: greet;
   animation-duration: 1s;
   transition-timing-function: ease-out;
   
 }
 @keyframes greet{
   from{margin-left:-50%;}
   to{margin-left: 0%;}
 }
 .name {
   font-size: 3.3rem;
   font-family: "Lexend";
   font-weight: 700;
   color: deepskyblue;
   animation-name: name;
   animation-duration: 1s;
   transition-timing-function: ease-out;
 }
  @keyframes name{
   from{margin-left:50%;}
   to{margin-left: 0%;}
 }
 .post {
   font-size: 1.8rem;
   font-family: "Figtree";
   font-weight: 500;
   color: white;
   margin-bottom: 10px;
   animation-name: post;
   animation-duration: 1s;
   transition-timing-function: ease-out;
   
 }
  @keyframes post{
   from{margin-left:-50%;}
   to{margin-left: 0%;}
 }
 .web-developer {
   color: mediumpurple;
   font-size: 1.8rem;
   font-family: "Figtree";
   font-weight: 500;
   animation-name: web-developer;
   animation-duration: 1.5s;
   transition-timing-function: ease-out;
   
   
 }
  @keyframes web-developer{
   from{margin-left:100%;}
   to{margin-left: 0%;}
 }
 .summary {
   font-size: 0.9rem;
   font-family: "Poppins";
   color: #C1DFF0;
   animation-name: summary;
   animation-duration: 1.5s;
   transition-timing-function: ease-out;
   width: 370px;
   height: 150px;
  
 }
   @keyframes summary{
   from{margin-left:-10%;
    
   }
   to{margin-left: 0%;
     
   }
 }
 
 .social a {
   
   margin-top: 30px;
   color: ghostwhite;
   font-size: 35px;
   
 }
 .social {
   display :flex;
   gap: 20px;
   
 }
 @media screen and (min-width: 480px) {
   
   .hamburger{display: none;}
   .offscreen-menu{display: block;}
   
 }